<%- include('../partials/albumshead'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
<main>
    hej
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>