<%- include('../partials/html'); %>
<%- include('../partials/albumsdetailshead'); %>
<%- include('../partials/alubumsdetailsheader'); %>
<%- include('../partials/nav'); %>
      <!--#####################################################-->
      <main id="main">
        <section class="section__wrapper-albumdetails">
           
            
        </section>
        <div class="spinner"></div>
      </main>
<template id="albumdeatils">
    <a href="/player.html">
    <figure class="playlist_li">
            <img class="albumdetails_img" src="/assets/images/Group 422.svg">
            <div class="li_textbox">
                <h4 class="albumdetails_songname">Old Town Road</h4>
                <h4 class="albumdetails_artist">Billy Ray Cyrus</h4>
            </div>
            <div class="timelength_box">
                <p class="albumdetails_timelength">3:58</p>
            </div>
        </figure>
    </a>
</template>
<script src="/assets/javascript/albumdeatils.js"></script>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>