<%- include('../partials/html'); %>
<%- include('../partials/artisthead'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
<main class="artist">
    <section class="main_section">
        <h1 class="section__h1">All Artist</h1>
        <div class="section__p-wrapper">
        <p class="section__p">artist of the month</p> 
        <p class="section__p2"> View all</p>
    </div>
    <figure class="artistimg__wrapper">
        </figure>

    <div class="section__p-wrapper">
        <p class="section__p">artist of the month</p> 
        <p class="section__p2"> View all</p>
    </div>
    
    </section>
    <section class="artistimg__wrapper2">
  
    </section>
    <section>
        <h1>Top Artist By Country</h1>
        <figure class="artistfigure__wrapper">
            <div class="green">
                <h2 class="artistgreen__div-h2">Top 50</h2>
                <br>
                <p class="artistdiv-p">us-uk</p>
            </div>
            <div class="blue">
                <h2 class="artistblue__div-h2">Top 50</h2>
                <p class="artistdiv-p">Global</p class="div-p">
            </div>
        </figure>
    </section>
</main>
<template id="template-artist">
   
        <img class="artistsection__img" src="" alt="">
       

    </template> 
    <template id="template-artist2">
        <figure>
            <a href="/categories.html">

                <img class="artistimg__1" src="" alt="">
            </a>
            <figcaption class="artistfigcaption_text"></figcaption>
        </figure>
        <figure>
            <img class="artistimg__1" src="" alt="">
            <figcaption class="artistfigcaption_text"></figcaption>
        </figure>
        <figure>
            <img class="artistimg__1" src="" alt="">
            <figcaption class="artistfigcaption_text"></figcaption>
        </figure>


    </template>

<script src="/assets/javascript/artist.js"></script>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>