<%- include('../partials/html'); %>
<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
<main class="featuremain">

    <section class="feature_section">
        </section>
    </main>
    <template id="template-feature">
        <figure class="featureimg__wrapper">
            <a href="/albumsdetails.html" class="a-tag">

                <img class="featuresection__img" src="" alt="">
            </a>
        </figure>
    </template> 
    <script src="/assets/javascript/feature.js"></script>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>