<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
<main class="featuredmain">


    </main>
    <script src="/assets/javascript/feature.js"></script>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>