<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
<main>
    <h1>dfdfsdfsd</h1>
    <section>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit temporibus accusantium veniam maiores doloremque accusamus eaque perspiciatis ipsa nobis tempore.</p>
    </section>
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>