<%- include('../partials/head'); %>
<%- include('../partials/header'); %>
<%- include('../partials/nav'); %>
<main>
    <h1>dfdfsdfsd</h1>
    <section>
<p>bror</p>    
</section>
</main>
<%- include('../partials/footer'); %>
<%- include('../partials/after-footer'); %>